* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

/* navbar css start  */
.nav-item {
    margin-left: 25px;
}

.btn-nav {
    color: #FFF !important;
    border-radius: 15px;
    border: 1px solid #FFF;
    background-color: #1118AF !important;
    box-shadow: -10px 23px 39px 0px rgba(57, 64, 211, 0.54);
}

/* navbar css end  */
/* hero css start  */
.hero {
    background-image: url(/assets/img/hero.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
}

.hero_heading {
    color: #000;
    font-family: Chivo;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    text-align: center;
}

.hero_sub {
    width: 470px;
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

/* hero css end  */

/* partner css start  */
.partner_title {
    color: #000;
    font-family: Chivo;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;

}

.partner_sub {
    color: #1118AF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

/* partner css end  */

/* service css start  */
.services {
    background: linear-gradient(0deg,
            rgba(221, 243, 255, 1) 0%,
            rgba(240, 250, 255, 0) 100%);
}

.servicer_heading {
    font-family: 'Inter', sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 109px;
    background: linear-gradient(93deg, #6844D0 -23.24%, #04794F 98.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service_sub {
    width: 600px;
    color: #141414;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center !important;
}

.card {
    height: 250px !important;
    border-radius: 10px !important;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: -10px 22px 36px 0px rgba(57, 64, 211, 0.16);

}

.card-title {
   
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
}

.control_btn{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
.controll_icon{
    font-size: 20px;
    
}

/* service css end  */
/* operation css start  */
.operation{
    margin-top: 160px;
}

.serviece_list{
    color: #000000;
    text-align: left;
    font: 500 18px/67px "Inter", sans-serif;
    position: relative;
}
.graphics_1{
    position: absolute;
    top: 90px;
}
.graphics_2{
    position: absolute;
    z-index: 10;
    right: 30px;
}
.graphics_3{
    position: absolute;
    z-index: 10;
    top: 360px;
}
/* operation css end  */

